files:
  "/etc/nginx/conf.d/websocket_upgrade.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_http_version 1.1;

container_commands:
  01_reload_nginx:
    command: "service nginx reload"
