option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "TutorNYU.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DJANGO_ASGI_APPLICATION: "TutorNYU.asgi:application"
    DAPHNE_PORT: "5000"

container_commands:
  00_make_executable:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/pre/50start_supervisord.sh"

  01_start_supervisord:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/pre/50start_supervisord.sh"
    leader_only: true
  
  02_start_daphne:
    command: "supervisorctl -c /opt/python/etc/supervisord.conf start daphne >> /var/log/daphne_supervisor_start.log 2>&1"
    leader_only: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50start_supervisord.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      source /var/app/venv/staging-LQM1lest/bin/activate
      /var/app/venv/staging-LQM1lest/bin/supervisord -c /opt/python/etc/supervisord.conf

  "/opt/python/etc/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [supervisord]
      nodaemon=false

      [unix_http_server]
      file=/tmp/supervisor.sock 

      [supervisorctl]
      serverurl=unix:///tmp/supervisor.sock

      [program:daphne]
      command=/var/app/venv/staging-LQM1lest/bin/daphne -u /tmp/daphne.sock -b 127.0.0.1 -p 5000 TutorNYU.asgi:application
      directory=/var/app/staging
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/daphne.out.log
      stderr_logfile=/var/log/daphne.err.log
      environment=DJANGO_SETTINGS_MODULE="TutorNYU.settings",PYTHONPATH="/var/app/staging:$PYTHONPATH"
