option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "TutorNYU.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DJANGO_ASGI_APPLICATION: "TutorNYU.asgi:application"
    DAPHNE_PORT: "5000"

container_commands:
  01_start_daphne:
    command: "supervisorctl -c /opt/python/etc/supervisord.conf start daphne"
    leader_only: true

files:
  "/opt/python/etc/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [supervisord]
      nodaemon=true

      [program:daphne]
      command=/opt/python/run/venv/bin/daphne -u /tmp/daphne.sock -b 127.0.0.1 -p 5000 TutorNYU.asgi:application
      directory=/var/app/current
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/daphne.out.log
      stderr_logfile=/var/log/daphne.err.log
      environment=DJANGO_SETTINGS_MODULE="TutorNYU.settings",PYTHONPATH="/var/app/current:$PYTHONPATH"
