{% extends 'TutorRegister/base.html' %}

{% block title %} Create Tutor Profile{% endblock %}

{% block content %}
<div class="container mt-5 d-flex flex-column align-items-center justify-content-center">
  <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
              <h2 class="fw-bold mb-0 fs-2 text-center">Create Your Tutor Profile</h2>
          </div>

          <div class="modal-body p-5 pt-0">
              <form method="post" action="tutor-information">
                  {% csrf_token %}
                  <div class="mb-3">
                    {{tutor_form.fname.label}}:
                    {{tutor_form.fname}}
                    {{tutor_form.lname.label}}:
                    {{tutor_form.lname}}
                    {{tutor_form.gender.label}}:
                    {{tutor_form.gender}}
                    {{tutor_form.zip.label}}:
                    {{tutor_form.zip}}
                    {{tutor_form.grade.label}}:
                    {{tutor_form.grade}}
                    {{tutor_form.major.label}}:
                    {{tutor_form.major}}
                    {{tutor_form.preferred_mode.label}}:
                    {{tutor_form.preferred_mode}}
                    {{tutor_form.expertise.label}}:
                    {{tutor_form.expertise}}
                    {{tutor_form.intro.label}}:
                    {{tutor_form.intro}}
                
                    <div class="row g-3 d-flex align-items-center">
                        <div class="form-group col-md-3">
                            <label for="{{ availability_form.day_of_week.id_for_label }}">Availability</label>
                            {{ availability_form.day_of_week }}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="{{ availability_form.start_time.id_for_label }}">From</label>
                            {{ availability_form.start_time }}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="{{ availability_form.end_time.id_for_label }}">To</label>
                            {{ availability_form.end_time }}
                        </div>
                        <div class="form-group col-md-1">
                            <button class="btn btn-secondary">Add</button>
                        </div>
                    </div>
                  
                  <div class="row">
                    <div class="col-md-5">
                      {{tutor_form.salary_min.label}}: $
                      {{tutor_form.salary_min }}
                    </div>
                    <div class="col-md-5">
                      {{tutor_form.salary_max.label}}: $
                      {{ tutor_form.salary_max }}
                    </div>
                  </div>
                  <input type="submit" class="btn btn-primary" style="background-color: #600E90; color: white; border-color: #600E90">
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}
