{% extends 'TutorRegister/base.html' %}

{% block title %} Create Tutor Profile{% endblock %}

{% block content %}
<div class="container mt-5 d-flex flex-column align-items-center justify-content-center">
  <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
              <h2 class="fw-bold mb-0 fs-2 text-center">Create Your Tutor Profile</h2>
          </div>

          <div class="modal-body p-5 pt-0">
              <form method="post" action="tutor-information">
                  {% csrf_token %}
                  <div class="mb-3">
                    {% for field in tutor_form %}
                      {% if field.name != "salary_min" and field.name != "salary_max" %}
                            {{ field.label_tag }}
                            {{ field }}
                      {% endif %}
                    {% endfor %}
                    <div class="row g-3 d-flex align-items-top">
                        <div class="form-group col-md-3">
                            <label for="{{ availability_form.day_of_week.id_for_label }}">Availability</label>
                            {{ availability_form.day_of_week }}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="{{ availability_form.start_time.id_for_label }}">From</label>
                            {{ availability_form.start_time }}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="{{ availability_form.end_time.id_for_label }}">To</label>
                            {{ availability_form.end_time }}
                        </div>
                        <div class="form-group col-md-1">
                            <label>  </label>
                            <button type="button" class="btn btn-outline-success btn-sm" style="background-color: white; color: #600E90; border-color: #600E90" onclick="addAvailability()">Add</button>
                        </div>
                        {% comment %} hidden input to get availabilities {% endcomment %}
                        <input type="hidden" name="availabilities" id="id_availabilities" />

                    </div>
                    <div id="chosenAvailabilities">
                    </div>
                  
                  <div class="row">
                    <div class="col-md-5">
                      {{tutor_form.salary_min.label}}: $
                      {{tutor_form.salary_min }}
                    </div>
                    <div class="col-md-5">
                      {{tutor_form.salary_max.label}}: $
                      {{ tutor_form.salary_max }}
                    </div>
                  </div>
                  <input type="submit" class="btn btn-primary" style="background-color: #600E90; color: white; border-color: #600E90">
              </form>
          </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var availabilities = [];
    function addAvailability() {
        
        var dayOfWeek = $("select[name='day_of_week']").val(); 
        var startTime = $("input[name='start_time']").val();   
        var endTime = $("input[name='end_time']").val();   

        var availability = {
          day_of_week: dayOfWeek,
          start_time: startTime,
          end_time: endTime
        };

        availabilities.push(availability);

        var serializedAvailabilities = JSON.stringify(availabilities);

        $("#id_availabilities").val(serializedAvailabilities);

        var chosenAvailability = `<div class="mb-2">${dayOfWeek.charAt(0).toUpperCase() + dayOfWeek.slice(1)} from ${startTime} to ${endTime} 
                                    <button class="btn btn-danger btn-sm ms-2" onclick="removeAvailability(this)">Remove</button>
                                  </div>`;
        $("#chosenAvailabilities").append(chosenAvailability);
    }

    function removeAvailability(button) {
        var availabilityDiv = $(button).parent();

        var index = $("#chosenAvailabilities").children().index(availabilityDiv);

        availabilities.splice(index, 1);

        var serializedAvailabilities = JSON.stringify(availabilities);
        $("#id_availabilities").val(serializedAvailabilities);

        availabilityDiv.remove();

        updateIndices();
    }

    function updateIndices() {
      // Update indices of each availability div in the display
      $("#chosenAvailabilities").children().each(function (index) {
          $(this).find(".btn-danger").attr("onclick", `removeAvailability(this, ${index})`);
      });
  }
  </script>
{% endblock %}