{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="container">
        <!-- Navigation Bar -->
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-2 mb-2 mb-md-0">
                <a href="{% url 'Dashboard:dashboard' %}" class="d-inline-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" width="120">
                </a>
            </div>

            <ul class="nav col-10 col-md-auto mb-2 justify-content-center mb-md-0">
                <!-- Navigation links -->
                <li><a href="{% url 'Dashboard:dashboard' %}" class="nav-link px-2" 
                    style="color: #600d91;margin-left:10px">My Sessions</a></li>
                <li><a href="{% url 'TutorFilter:filter_tutors' %}" class="nav-link px-2" 
                    style="color: #600d91;margin-left:10px">Find A Tutor</a></li>
                <li><a href="{% url 'Dashboard:requests' %}" class="nav-link px-2" 
                    style="color: #600d91;margin-left:10px">My Requests</a></li>
                <li><a href="{% url 'Chat:display_chats' %}" class="nav-link px-2"
                        style="color: #600d91;margin-left:10px">My Chats</a></li>
                <li><a href="{% url 'Dashboard:student_profile' %}" class="nav-link px-2" 
                    style="color: #600d91;margin-left:10px">My Profile</a></li> 
            </ul>

            <div class="col-md-2 text-end">
                <form method="post" action="{% url 'Dashboard:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary"
                        style="background: #600d91; border-color: #600d91;">Log Out</button>
                </form>
            </div>
        </header>

        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {% block footer %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
    <!--Footer-->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" width="80">
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2023 TutorNYU, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </footer>
    </div>

</body>

</html>