{% extends baseTemplate %}
{% load static %}

{% block title %}Tutoring Requests{% endblock %}

{% block content %}
    <!-- Tutoring Requests Content -->
    <div class="mt-4">
        <h3 style="color: #600d91">Your Tutoring Requests: </h3>
        <br>
        {% if tutorRequests %}
            {% for request in tutorRequests %}
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-body p-5 pt-10">
                        <div class="row">
                            <div class="col-md-2">
                                {% if userType == "student" %}
                                    <img src="/media/{{ request.tutor_id.profilet.image }}" alt="Tutor" class="card-img-top" style="max-height: 100px; width: auto">
                                {% else %}
                                    <img src="/media/{{ request.student_id.profiles.image }}" alt="Student" class="card-img-top" style="max-height: 100px; width: auto">
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <p>
                                {% if userType == "student" %}
                                <strong>Tutor Name:</strong> {{ request.tutor_id.profilet.fname }} {{ request.tutor_id.profilet.lname }}
                                {% else %}
                                <strong>Student Name:</strong> {{ request.student_id.profiles.fname }} {{ request.student_id.profiles.lname }}
                                {% endif %}
                                </p>
                                <p><strong>Subject:</strong> {{ request.human_readable_subject | title }}</p>
                                <p><strong>Tutoring Mode: </strong>
                                {% if request.tutoring_mode == "inperson"  %} 
                                In Person
                                {% else %}
                                Remote
                                {% endif %}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p><strong>Date: </strong>{{ request.date }}</p>
                                <p><strong>Time: </strong>{{ request.start_time }} - {{ request.end_time }}</p>
                                <P><strong>Offering Rate: </strong>  ${{ request.offering_rate }} / hour </p>
                            </div>
                            <div class="col-md-2">
                                {% if userType == "student" %}
                                    {% if request.status == "Pending" %}
                                    <p style="color: #359AF7;">PENDING</p>
                                    {% else %}
                                    <p style="color: #F92121;">DECLINED</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-7">
                                {% if userType == "tutor" %}
                                <p><strong>Message: </strong>{{ request.message }}</p>
                                {% endif %}
                            </div>
                            <div class="col-md-3 d-flex align-items-end">
                                {% if userType == "tutor" %}
                                <form action="{% url 'Dashboard:accept_request' request.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-success" style="margin-right:10px;" data-bs-toggle="modal" data-bs-target="#successModal">Accept</button>
                                </form>
                                <button type="submit" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#declineModal{{ request.id }}">Decline</button>
                                {% else %}
                                    {% if request.status == "Pending" %}
                                    <button type="submit" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#cancelModal{{ request.id }}">Cancel</button>
                                    {% else %}
                                    <form action="{% url 'Dashboard:delete_request' request.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-secondary" >Delete</button>
                                    </form>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <!-- Success Modal -->
                            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="successModalLabel">Success</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            You have successfully accepted this tutoring request.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Decline confirmation Modal -->
                            <div class="modal fade" id="declineModal{{ request.id }}" tabindex="-1" aria-labelledby="declineModal{{ request.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Decline Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to decline this request?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
                                            <form action="{% url 'Dashboard:decline_request' request.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Cancel confirmation Modal -->
                            <div class="modal fade" id="cancelModal{{ request.id }}" tabindex="-1" aria-labelledby="cancelModal{{ request.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Cancel Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to cancel this request?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
                                            <form action="{% url 'Dashboard:cancel_request' request.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Delete Modal -->

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="color:#AC658F; margin-left: 20px"> You currently have no tutoring requests. <p></p>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endblock %}