{% extends 'Dashboard/base_student.html' %}
{% load static %}


{% block title %}Student Dashboard{% endblock %}

{% block content %}
    <!-- Dashboard Content -->
    <div class="mt-4">
        <h3 style="color: #600d91">Welcome to Your Student Dashboard</h3>
        <br>
        <p class="col-md-8 fs-4">Upcoming Sessions:</p>
        {% for session in upcomingSessions %}
        <div class="modal-content rounded-4 shadow">
          <div class="modal-body p-5 pt-10">
            <div class="row">
              <div class="col-md-2">
                <img src="/media/{{ session.tutor_id.profileT.image }}" alt="Tutor" class="card-img-top" style="max-height: 100px; width: auto">
              </div>
              <div class="col-md-4">
                <p><strong>Tutor Name:</strong> {{ session.tutor_id.profilet.fname }} {{ session.tutor_id.profilet.lname }}</p>
                <p><strong>Subject:</strong> {{ session.subject | title }}</p>
                <p><strong>Tutoring Mode:</strong>
                  {% if session.tutoring_mode == "inperson"  %} 
                  In Person
                  {% else %}
                  Remote
                  {% endif %}
                </p>
              </div>
              <div class="col-md-6">
                <p><strong>Date: </strong>{{ session.date }}</p>
                <p><strong>Time:</strong> {{ session.start_time }} - {{ session.end_time }}</p>
              </div>
              <div class="col-md-10"></div>
              <div class="col-md-2 d-flex align-items-end">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ session.id }}">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
          <div class="container-fluid py-5">
            <p class="col-md-8 fs-4">Completed Sessions:</p>
          </div>
        </div> 
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endblock %}