{% extends 'Dashboard/base_student.html' %}
{% load static %}


{% block title %}Student Dashboard{% endblock %}

{% block content %}
    <!-- Dashboard Content -->
    <div class="mt-4">
        <h3 style="color: #600d91">Welcome to Your Student Dashboard</h3>
        <div class="p-5 mb-4 bg-body-tertiary rounded-3" style="margin-top:20px">
          <div class="container-fluid py-5">
            <p class="col-md-8 fs-4">Upcoming Sessions:</p>
          </div>
        </div>    
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
          <div class="container-fluid py-5">
            <p class="col-md-8 fs-4">Completed Sessions:</p>
          </div>
        </div> 
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endblock %}