{% extends 'Dashboard/base_tutor.html' %}
{% block title %} My Feedback{% endblock %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="mt-4">
        <h3 style="color: #600d91">Your Feedback: </h3>
        <br>
        {% if has_reviews %}
            {% for review in reviews %}
            <div class="modal-content rounded-4 shadow mb-3">
                <div class="modal-body p-5 pt-10">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ review.student_id.profiles.image.url }}" alt="Student" class="card-img-top" style="max-height: 100px; width: auto">
                        </div>
                        <div class="col-md-8">
                            <h5><strong>{{ review.student_id.profiles.fname}} {{ review.student_id.profiles.lname}}</strong></h5>
                            <div class="rating">
                                {% for _ in "12345" %}
                                    {% if forloop.counter <= review.rating %}
                                        <i class="fas fa-star" style="color: gold;"></i>
                                    {% else %}
                                        <i class="fas fa-star" style="color: #ccc;"></i>
                                    {% endif %}
                                {% endfor %}
                                {{ review.rating }}
                            </div>
                            <p style="margin-bottom: 5px; margin-top: 10px; font-size:17px">{{ review.review }}
                            <p style="font-size:13px; margin-top: 0px; color:grey"> Submitted on: {{ review.review_date }}</p>
                        </div>
                </div>
            </div>
            {% endfor%}
            <div class="pagination" style="display: flex; justify-content: center; align-items: center;">
                <span class="step-links" style="display: flex; gap: 10px; align-items: center;">
                    {% if reviews.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{ reviews.previous_page_number }}">Previous</a>
                    {% endif %}
                    
                    <span class="current">
                        <b> Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.</b>
                    </span>

                    {% if reviews.has_next %}
                        <a href="?page={{ reviews.next_page_number }}">Next</a>
                        <a href="?page={{ reviews.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
        <p style="margin-left: 20px; color:#AC658F;"> You currently have no reviews.</p>                
        {% endif %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endblock %}