{% load static %}
<!--Homepage Navbar && Base Template-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>TutorNYU</title>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="{% url 'home' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width = "120">          
        </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="{% url 'home' %}#feature" class="nav-link px-2" style="color: #600d91; margin-left:10px">Features</a></li>
          <li><a href="{% url 'home' %}#faqs" class="nav-link px-2" style="color: #600d91; margin-left:10px">FAQs</a></li>
          <li><a href="{% url 'home' %}#about" class="nav-link px-2" style="color: #600d91; margin-left:10px">About Us</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <a href="{% url 'TutorRegister:login' %}">
            <button type="button" class="btn btn-light" style="color: #600d91; border-color: #600d91; margin:5px" >Login</button>
          </a>
          <a href="{% url 'TutorRegister:register' %}">
            <button type="button" class="btn btn-primary" style="background: #600d91; border-color: #600d91;">Sign Up</button>
          </a>
        </div>

        {% block content %}
        {% endblock %}
      </header>
</div>
<script type="text/javascript">
  (function(d, m){
      var kommunicateSettings = 
          {"appId":"19c756e0c7ace5a455fbae2e40e5f0995","popupWidget":true,"automaticChatOpenOnNavigation":true};
      var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
      s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
      var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
      window.kommunicate = m; m._globals = kommunicateSettings;
  })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
</body>
</html>
